<!---------------------------- START SUB NAV (MEGA DROPDOWN) ------------------------------->
<div class="navFunding sub-nav">
	
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/funding/routes/Pages/grants.aspx">Funding routes</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/routes/Pages/az.aspx">Funding Schemes</a>
	</li>
	<li><a href="/funding/routes/rb/Pages/funding.aspx">Research base funding</a>
	</li>
	<li><a href="/funding/routes/newac/Pages/academics.aspx">New academics</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/funding/guidance/Pages/guidance.aspx">Guidance</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/guidance/basics/Pages/basics.aspx">Funding basics</a>
	</li>
	<li><a href="/funding/guidance/Pages/eligibility.aspx">Eligibility</a>
	</li>
	<li><a href="/funding/guidance/fundingguide/Pages/fundingguide.aspx">Funding guide</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/funding/calls/Pages/calls.aspx">Calls</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/calls/open/Pages/opencalls.aspx">Open Calls</a>
	</li>
	<li><a href="/funding/calls/Pages/future.aspx">Future calls</a>
	</li>
	<li><a href="/funding/calls/2013/Pages/2013.aspx">2013</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/funding/peerrev/Pages/peer.aspx">Peer review</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/peerrev/college/Pages/peerreview.aspx">College</a>
	</li>
	<li><a href="/funding/peerrev/panels/Pages/panels.aspx">Peer review panels</a>
	</li>
	<li><a href="/funding/peerrev/review/Pages/proposals.aspx">Reviewing proposals</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/funding/successrates/Pages/successrates.aspx">Success rates</a>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/successrates/previous/Pages/previous.aspx">Funding rates for previous years</a>
	</li>
	<li><a href="/funding/successrates/Pages/201213.aspx">2012-13</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/funding/forms/Pages/forms.aspx">Forms</a>
	                </h2>
	<ul>
	                    
	<li><a href="/funding/forms/app/Pages/forms.aspx">Application forms</a>
	</li>
	<li><a href="/funding/forms/fr/Pages/final.aspx">Final report forms</a>
	</li>
	<li><a href="/funding/forms/rev/Pages/reviewer.aspx">Reviewer forms and guidance notes</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	
	    </div>
	
	</div>

<div class="navResearch sub-nav">
	    
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/research/ourportfolio/Pages/portfolio.aspx">Our portfolio</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/research/ourportfolio/Pages/strategic.aspx">Our approach</a>
	</li>
	<li><a href="/research/ourportfolio/themes/Pages/themes.aspx">Themes</a>
	</li>
	<li><a href="/research/ourportfolio/researchareas/Pages/researchareas.aspx">Research areas</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/research/facilities/Pages/facilities.aspx">Facilities and equipment</a>
	                </h2>
	<ul>
	                    
	<li><a href="/research/facilities/equipment/Pages/equipment.aspx">Equipment funding</a>
	</li>
	<li><a href="/research/facilities/hpc/Pages/computing.aspx">High performance computing and support</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/research/centres/Pages/centres.aspx">Centres and major investments</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/research/centres/Pages/acecybersecurity.aspx">Academic Centres of Excellence in Cyber Security Research</a>
	</li>
	<li><a href="/skills/students/centres/Pages/centres.aspx">Centres for Doctoral Training (CDT)</a>
	</li>
	<li><a href="/research/centres/innovativemanufacturing/Pages/centres.aspx">EPSRC Centres for Innovative Manufacturing</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/casestudies/Pages/casestudies.aspx">Case studies</a>
	                </h2>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/research/partnerships/Pages/partnerships.aspx">Partnerships</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/partner/Pages/strategic.aspx">Current strategic partnerships</a>
	</li>
	<li><a href="/about/partner/international/Pages/international.aspx">International partnerships</a>
	</li>
	<li><a href="/about/partner/Pages/regions.aspx">UK regions</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/research/framework/Pages/framework.aspx">Framework for responsible innovation</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/research/framework/Pages/area.aspx">Anticipate, reflect, engage and act (AREA)</a>
	</li>
	<li><a href="/research/framework/Pages/approach.aspx">Support</a>
	</li>
	<li><a href="/research/framework/Pages/expectations.aspx">Expectations</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	
	    </div>
	
	</div>

<div class="navInnovation sub-nav">
	    
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/innovation/business/Pages/business.aspx">Connecting with business</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/innovation/business/otherways/Pages/engage.aspx">Other ways for business to engage with EPSRC</a>
	</li>
	<li><a href="/innovation/business/schemes/Pages/opportunities.aspx">Business collaboration opportunities</a>
	</li>
	<li><a href="/innovation/business/resources/Pages/portfolio.aspx">Information on our current portfolio</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/innovation/partnerships/Pages/partnerships.aspx">Partnerships</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/partner/Pages/strategic.aspx">Current strategic partnerships</a>
	</li>
	<li><a href="/about/partner/international/Pages/international.aspx">International partnerships</a>
	</li>
	<li><a href="/about/partner/Pages/regions.aspx">UK regions</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/newsevents/casestudies/">Case studies</a>
	                </h2>
	
	            </section>
	
	        </div>
	
	    </div>
	
	</div>

<div class="navSkills sub-nav">
	    
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/skills/fellows/Pages/fellowships.aspx">Fellowships</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/skills/fellows/Pages/epsrcfellowships.aspx">EPSRC Fellowships - a new approach</a>
	</li>
	<li><a href="/skills/fellows/Pages/whocanapply.aspx">Who can apply</a>
	</li>
	<li><a href="/skills/fellows/Pages/refreshoffellowshippriorityareas.aspx">On-going refresh of fellowship priority areas</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/skills/students/Pages/studentships.aspx">Studentships</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/skills/students/help/Pages/help.aspx">Help for students</a>
	</li>
	<li><a href="/skills/students/dta/Pages/dta.aspx">Doctoral training accounts</a>
	</li>
	<li><a href="/skills/students/coll/Pages/training.aspx">Collaborative training</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	
	    </div>
	
	</div>

<div class="navNewseventsAndPublications sub-nav">
	    
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/newsevents/Pages/latestupdates.aspx">Latest updates</a>
	                </h2>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/NEWSEVENTS/NEWS/Pages/news.aspx">News</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/news/2013/Pages/2013.aspx">2013</a>
	</li>
	<li><a href="/newsevents/news/2012/Pages/2012.aspx">2012</a>
	</li>
	<li><a href="/newsevents/news/2011/Pages/2011.aspx">2011</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/casestudies/Pages/casestudies.aspx">Case studies</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/NEWSEVENTS/CASESTUDIES/2013/Pages/2013.aspx">2013</a>
	</li>
	<li><a href="/newsevents/casestudies/2012/Pages/2012.aspx">2012</a>
	</li>
	<li><a href="/newsevents/casestudies/2011/Pages/2011.aspx">2011</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/newsevents/pubs/Pages/publications.aspx">Publications</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/pubs/mags/Pages/magazines.aspx">Magazines and newsletters</a>
	</li>
	<li><a href="/newsevents/pubs/brochures/Pages/brochures.aspx">Brochures</a>
	</li>
	<li><a href="/newsevents/pubs/corporate/Pages/corporate.aspx">Corporate</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/multimedia/Pages/videoaudio.aspx">Multimedia</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/multimedia/2013/Pages/2013.aspx">2013</a>
	</li>
	<li><a href="/newsevents/multimedia/2012/Pages/2012.aspx">2012</a>
	</li>
	<li><a href="/newsevents/multimedia/2011/Pages/2011.aspx">2011</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/events/Pages/events.aspx">Events</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/events/2013/Pages/2013.aspx">2013</a>
	</li>
	<li><a href="/newsevents/events/2012/Pages/2012.aspx">2012</a>
	</li>
	<li><a href="/newsevents/events/2011/Pages/2011.aspx">2011</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/newsevents/reviews/Pages/reviews.aspx">Reviews</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/reviews/Pages/supergen.aspx">Future of SUPERGEN</a>
	</li>
	<li><a href="/newsevents/reviews/Pages/expert.aspx">Fusion expert group</a>
	</li>
	<li><a href="/newsevents/reviews/Pages/nuclear.aspx">Nuclear physics and nuclear engineering consultation</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/experiments/Pages/experiments.aspx">Experiments for children</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/newsevents/experiments/Pages/BottledEgg.aspx">Bottled egg</a>
	</li>
	<li><a href="/newsevents/experiments/Pages/cloudinabottle.aspx">Cloud in a bottle</a>
	</li>
	<li><a href="/newsevents/experiments/Pages/crushanegg.aspx">Crush an egg</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/Pages/alerts.aspx">Email alerts and newsletters</a>
	                </h2>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/newsevents/Pages/feeds.aspx">RSS feeds</a>
	                </h2>
	
	            </section>
	
	        </div>
	
	    </div>
	
	</div>

<div class="navAboutUs sub-nav">
	    
	<div class="wrap">
	        
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/about/org/Pages/organisation.aspx">Organisation</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/org/Pages/seniorstaff.aspx">Senior staff</a>
	</li>
	<li><a href="/about/org/Pages/businessinnovation.aspx">Business innovation</a>
	</li>
	<li><a href="/about/org/Pages/operations.aspx">Operations directorate</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/history/Pages/history.aspx">History</a>
	                </h2>
	<ul>
	                    
	<li><a href="/about/history/Pages/ourbeginnings.aspx">Our beginnings</a>
	</li>
	<li><a href="/about/history/Pages/royalcharter2003.aspx">Royal Charter - 2003</a>
	</li>
	<li><a href="/about/history/Pages/royalcharter1994.aspx">Royal Charter - 1994</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/governance/Pages/governance.aspx">Our governance and advisory bodies</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/governance/council/Pages/council.aspx">Council</a>
	</li>
	<li><a href="/about/governance/rac/Pages/committee.aspx">Resource Audit Committee</a>
	</li>
	<li><a href="/about/governance/Pages/termsofreference.aspx">Appointments Assurance Committee</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/about/plans/Pages/ourplans.aspx">Strategy and delivery plan</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/plans/strategicplan/Pages/strategicplan.aspx">Strategic Plan</a>
	</li>
	<li><a href="/about/plans/deliveryplan/Pages/deliveryplan.aspx">Delivery Plan</a>
	</li>
	<li><a href="/about/plans/implementingdeliveryplan/Pages/deliveryplan.aspx">Implementing the Delivery Plan</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/facts/Pages/facts.aspx">Facts and figures</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/facts/Pages/mission.aspx">Mission and vision</a>
	</li>
	<li><a href="/about/plans/deliveryplan/Pages/next.aspx">Budget and finances</a>
	</li>
	<li><a href="/about/facts/Pages/centres.aspx">EPSRC-funded centres</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/standards/Pages/service.aspx">Service standards and policies</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/standards/Pages/standards.aspx">Service standards and policies</a>
	</li>
	<li><a href="/about/standards/employment/Pages/employment.aspx">Employment policies, standards and guidance</a>
	</li>
	<li><a href="/about/standards/Pages/researchadmin.aspx">Research admin standards</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	<div>
	            
	<section>
	                
	<h2>
	                    <a href="/about/partner/Pages/partnerships.aspx">Partnerships</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/partner/Pages/strategic.aspx">Current strategic partnerships</a>
	</li>
	<li><a href="/about/partner/international/Pages/international.aspx">International</a>
	</li>
	<li><a href="/about/partner/Pages/regions.aspx">UK regions</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/infoaccess/Pages/access.aspx">Access to information</a>  <span>&hellip;</span>
	                </h2>
	<ul>
	                    
	<li><a href="/about/infoaccess/Pages/foirequests.aspx">Freedom of information requests</a>
	</li>
	<li><a href="/about/infoaccess/Pages/foiappeal.aspx">Appeal against non-disclosure</a>
	</li>
	<li><a href="/about/infoaccess/Pages/foicommitment.aspx">EPSRC commitment to freedom of information</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/logos/Pages/logos.aspx">Logos and visual identity</a>
	                </h2>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/vacancies/Pages/careers.aspx">Vacancies</a>
	                </h2>
	<ul>
	                    
	<li><a href="/about/vacancies/Pages/benefits.aspx">Staff benefits</a>
	</li>
	<li><a href="/about/vacancies/Pages/irecruithints.aspx">TopCareer.jobs hints and tips</a>
	</li>
	
	                </ul>
	
	            </section>
	<section>
	                
	<h2>
	                    <a href="/about/contactus/Pages/contacts.aspx">Contact us</a>
	                </h2>
	<ul>
	                    
	<li><a href="/about/contactus/Pages/findus.aspx">How to find us</a>
	</li>
	<li><a href="/about/contactus/Pages/feedback.aspx">Feedback</a>
	</li>
	
	                </ul>
	
	            </section>
	
	        </div>
	
	    </div>
	
</div>
<!---------------------------- END OF SUB NAV (MEGA DROPDOWN) ------------------------------->
