body:after {
  content: 'grid990';
  display: none;
}
/* ------------------------------------------------------------------ */
/* =Body */
/* ------------------------------------------------------------------ */
body {
  min-width: 960px;
}
/* ------------------------------------------------------------------ */
/* =Form elements */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* =Structural */
/* ------------------------------------------------------------------ */
.wrap {
  width: 960px;
  margin: 0 auto;
}

